/*
DISABLED ANIMATIONS until nativescript 3.0.0
https://github.com/NativeScript/NativeScript/pull/3857

.visible {
    animation-name: show;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate(0, 200);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.hide {
    animation-name: animate-hide;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes animate-hide {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(0, -200);
    }

}
*/

.btn {
  /*
      Contains the button attributes
  */

  color: white;
  cursor: pointer;
  font-size: 14.4;
  padding: 8;
  border: 0;
  background-color: #999999;
  min-width: 40;

  border-radius: 4;
}

btn:hover {
  background-color: #737373;
}

.bg-info {
  color: black;
  background-color: #d9edf7;
}

.bg-success {
  color: black;
  background-color: #dff0d8;
}

.bg-warning {
  color: black;
  background-color: #fcf8e3;
}

.bg-danger {
  color: black;
  background-color: #f2dede;
}
