<StackLayout class="p-10"
             [class.bg-success]="msgDetails.isSuccess()"
             [class.bg-info]="msgDetails.isInfo()"
             [class.bg-warning]="msgDetails.isWarning()"
             [class.bg-danger]="msgDetails.isError()"
             [class.visible]="shownStr == 'shown'"
             [class.hide]="shownStr == 'hidden'"
             ios:isUserInteractionEnabled="true">

  <GridLayout *ngIf="msgDetails.isFleeting() || msgDetails.isSticky()"
              width="100%"
              rows="auto" columns="*, auto">
    <Label class=""
           row="0" col="0"
           [text]="msgDetails.msg"
           textWrap="true"
           (tap)="msgClicked()"></Label>
    <Button *ngIf="msgDetails.hasRoute()"
            ios:isUserInteractionEnabled="true"
            class="btn"
            row="0" col="1"
            text="Open"
            (tap)="openClicked()"></Button>
  </GridLayout>

  <GridLayout *ngIf="msgDetails.isConfirm() || msgDetails.isConfirmCancel()"
              width="100%" height="100%"
              rows="auto, *, auto" columns="*, *">
    <Label *ngIf="msgDetails.dialogTitle !=  null"
           class="title"
           row="0" col="0"
           colSpan="2"
           [text]="msgDetails.dialogTitle"
           textWrap="true"></Label>

    <Label class="h3"
           row="1" col="0"
           colSpan="2"
           textWrap="true"
           [text]="msgDetails.msg"></Label>

    <button *ngIf="msgDetails.isConfirmCancel()"
            ios:isUserInteractionEnabled="true"
            class="btn btn-active"
            row="2" col="0"
            [text]="msgDetails.cancelText"
            (tap)="cancelClicked()">
    </button>
    <button class="btn btn-primary btn-active"
            ios:isUserInteractionEnabled="true"
            row="2" col="1"
            [text]="msgDetails.confirmText"
            (tap)="confirmClicked()">
    </button>
  </GridLayout>
</StackLayout>
