<Label class="h2" text="Exmaple usage"></Label>

<Label class="" text="Here are some test component buttons to try it out"></Label>

<button (tap)="showSuccess()" text="Show Success"></button>
<button (tap)="showInfo()" text="Show Info With Route"></button>
<button (tap)="showWarning()" text="Show Warning"></button>
<button (tap)="showError()" text="Show Error"></button>
<button (tap)="showWarningConfirmWithRoute()"
        text="Show Warn Confirm With Route"></button>
<button (tap)="showSuccessConfirm()" text="Show Success Confirm"></button>
<button (tap)="showErrorConfirmCancel()" text="Show Error Confirm Cancel"></button>
