<h3>Here are some test component buttons to try it out</h3>

<p>
    RapUI User Message Tester<br/>
    <button (click)="showSuccess()">Show Success</button>
    <button (click)="showInfo()">Show Info With Route</button>
    <button (click)="showWarning()">Show Warning</button>
    <button (click)="showError()">Show Error</button>
    <button (click)="showWarningConfirmWithRoute()">Show Warn Confirm With Route</button>
    <button (click)="showSuccessConfirm()">Show Success Confirm</button>
    <button (click)="showErrorConfirmCancel()">Show Error Confirm Cancel</button>
</p>


<h1>Exmaple usage</h1>

<h3>build file - angular-cli.json</h3>
Add the bootstrap css file to your package builder file, in the case of angular-cli,
add it to the apps.styles array
<pre>
{{'{'}}
  ...
  "apps": [
    {{'{'}}
      ...

      "styles": [
        ...
        "../node_modules/bootstrap/dist/css/bootstrap.min.css"
      ],
    ...
    {{'}'}}
    ...
{{'}'}}
</pre>
<p>

<h3>app.component.html</h3>
Add the following in your main component.html
<pre>&lt;ng2-balloon-msg&gt;&lt;/ng2-balloon-msg&gt;</pre>
<p>

    Add the following lines to your apps main module imports (app.module.ts?)<br/>
<pre>
import {{'{'}} Ng2BalloonMsgModule, Ng2BalloonMsgService {{'}'}} from "@synerty/ng2-balloon-msg"
</pre>
<p>

<h3>app.module.ts</h3>
Again, in the main module, Add
<pre>Ng2BalloonMsgModule</pre> to the "imports" array.<br/>
And finally,
<pre>Ng2BalloonMsgService</pre> to the "providers" array.<br/>
<p>

    Example:
<pre>
@NgModule({{'{'}}
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    FormsModule,
    HttpModule,
    Ng2BalloonMsgModule
  ],
  providers: [Ng2BalloonMsgService],
  bootstrap: [AppComponent]
{{'}'}})
export class AppModule {{'{'}} {{'}'}}
</pre>
<p>

<h3>where-ever.component.ts</h3>
Finally, To use the balloon service anywhere in your app :
<ol>
    <li>Import the service
        <pre>import {{'{'}}Ng2BalloonMsgService{{'}'}} from "@synerty/ng2-balloon-msg";</pre>
    </li>
    <li>Add it to your constructor
        <pre>constructor(private msgService: Ng2BalloonMsgService) {{'{'}}</pre>
    </li>
    <li>Now call the show functions
        <pre>this.msgService.showSuccess("This is a test SUCCESS");</pre>
    </li>
    <li>Here is a more advanced example, showing a modal dialog.
        <pre>{{'
let p = this.msgService.showMessage(
    "This is a Error Confirm Cancel.",
    UsrMsgLevel.Error,
    UsrMsgType.ConfirmCancel, {
        confirmText: "OK Confirm",      // Optional
        cancelText: "Cancel xx",        // Optional
        dialogTitle: "Awesome title"    // Optional

    }
);

p.catch(err => {
    console.log("Ignoring reject call from promise for this test.");
});
'}}</pre>
    </li>
</ol>